// align in a row with space between items
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:  rgba(8, 134, 61, 0.877);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: sans-serif;
  // round the corners
  border-radius: 8px;
  //color white;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(8, 134, 61, 0.877);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

.logo img {
  height: 40px;
}
//stye the logo with the word ShambaSmart in a creative way


.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.auth-dropdown {
  position: relative;
}

.dropdown-btn {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: rgba(8, 134, 61, 0.877);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 0.5rem 0;
  min-width: 100px;
  margin-top: 20px;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #ffffff;
}

.auth-dropdown:hover .dropdown-content {
  display: block;
}
