<div class="header">
  <div class="logo">
    <a routerLink="/"><img src="images/logo.png" alt="ShambaSmart" /></a>
  </div>

  <nav class="nav-links">
    <a routerLink="/shop">Shop</a>
    <a routerLink="/extension">Extension</a>
    <a routerLink="/prices">Prices</a>
    <a routerLink="/forums">Forums</a>
    <a routerLink="/farmer_queries">Queries</a>
    <a routerLink="/about">About</a>
  </nav>

  <div class="auth-dropdown">
    <button class="dropdown-btn" (click)="toggleDropdown($event)">Account ▼</button>

    <div class="dropdown-content" *ngIf="isDropdownOpen" (click)="preventClose($event)">
      <a routerLink="/signin">Sign In</a>
      <a routerLink="/signup">Sign Up</a>
    </div>
  </div>
</div>
