<h2 class="intro">Frequently Asked Questions: Comments experimentation fetching from API</h2>

<!-- Show spinner only when loading -->
<div class="spinner-container" *ngIf="loading$ | async">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<!-- Show comments only when not loading -->
<ng-container *ngIf="!(loading$ | async)">
  <ng-container *ngIf="comments$ | async as comments">
    <div class="comments-container">
      <p *ngIf="comments.length === 0">No comments found.</p>
      <div class="comment" *ngFor="let comment of comments">
        <p class="body">“{{ comment.body }}”</p>
        <p class="author">– {{ comment.user.fullName }} (@{{ comment.user.username }})</p>
        <p class="likes">👍 {{ comment.likes }} likes</p>
      </div>
    </div>
  </ng-container>
</ng-container>
