.home-container{
   background: url('/images/background.jpg') no-repeat center center;
  background-size: cover;
  
}
.hero {
 text-align: center;
  padding: 4rem 2rem;
  color: white;

  .hero-content {
    background-color: rgba(8, 134, 61, 0.877);
    padding: 2rem;
    border-radius: 12px;
  }
}

// style the hero section button
.hero button {
  background: #fff;
  color: #08863d;
  margin: 1rem 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;

  .cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      background: #f3f3f3;
      padding: 1.5rem;
      border-radius: 8px;
      width: 250px;
      text-align: center;
    }

    //remove link styling
    .card a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.testimonials {
  background: #fdfdfd;
  padding: 2rem 1rem;
  text-align: center;
  //round the corners top
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.call-to-action {
  background: rgba(8, 134, 61, 0.877);
  color: white;
  text-align: center;
  padding: 3rem 1rem;
}

// style call to action button
.call-to-action button {
  background: #fff;
  color: #08863d;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.testimonial-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 150px;
}

.testimonial-slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
  text-align: center;
  padding: 1rem;
}

.testimonial-slide.active {
  opacity: 1;
  transform: translateX(0);
}
